<style>
	a.HHover { font-family:Georgia, 'Times New Roman', Times, serif;font-size:27px;}
	a.HHover:hover { font-size:36px;text-decoration:overline;color:lightslategrey;font-family:Verdana, Geneva, Tahoma, sans-serif}
</style>

<div class="navigation-wrapper">
	<div class="site-name">
		<a href="{{ site.url }}">{{ site.title }}</a>
	</div><!-- /.site-name -->
  {% capture url %}{{ page.url | remove:'index.html' }}{% endcapture %}
	<div class="top-navigation">
		<nav role="navigation" itemscope itemtype="http://schema.org/SiteNavigationElement">
		    <ul>
		        {% for link in site.links %}
            <li><a href="{{ site.url }}{{ link.url }}" {% if url == link.url %}class="HHover"{% endif %}>{{ link.title }}</a></li>
		        {% endfor %}
		    </ul>
		</nav>
	</div><!-- /.top-navigation -->
</div><!-- /.navigation-wrapper -->

<!-- Lastly modified by Zhekai LI in 2023/06/02 -->